body {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: space-between;
}

div.header {
    height: 40vh;
    width: 100vw;
}

h1 {
    width: 75vw;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.chassis {
    position: relative;
    width: 35vw;
    height: 60vh;
    min-width: 800px;
    background-color: grey;
}